.awesome {
    background-color: #fff;
    padding: 100px 0;
}
.awesome-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.awesome-item {
    width: 350px;
    margin: 0 15px;
    margin-bottom: 5px;
}
.awesome-item_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 0 auto 30;
    border-radius: 50%;
    border: 1px solid #e72424;   
    font-size: 24px;
    color: #e4ba2f;
}
.awesome-item_title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}
.awesome-item_text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    
}
