.axure {
   background-image: url('../img/axure/bg-axure.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 80px 0 30px 0;
   position: relative;
   }
 .axure::before {
    content: "";
    position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background-color:rgba(0, 0, 0, 0.55);
}
.title_axure {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    max-width: 670px;
    font-size: 36px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 34px;
    color: #FFFFFF;
}
.title_axure::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #FFFFFF;
    display: block;
    margin: auto;
    margin-top: 34;
}
.description_axure {
    font-size: 14px;
    font-weight: 400;
    max-width: 670px;
    margin: auto;
    margin-bottom: 68px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
.download_axure {
    width: 150px;
    margin: auto;
    /* box-sizing: border-box; */
    border: 1px solid #FFFFFF;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.download_axure:hover {
 transform: scale(1.2);
 }

.download_axure a {
    display: block;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
   
}