.footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    }
.footer_list {
    width: 320px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    font-size: 16px;
    }

.footer_description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

}