.header {
    background-color: black;
    color: #fff;
    padding: 20px 0;
}
.header-wrap {
    display: flex;
    justify-content: space-between; 
    margin: 0 -15px;
    align-items: center;
}

.axit {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: left;
    margin: 0 15px;
}
.ax {
    color: #fff;
}
.it {
    color: #EC7979;
}
.navigation {
    width: 500px;
    
}
.navigation_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 15px;
        
   }
.navigation_list_item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    text-align: center;
    text-transform: capitalize;
  }

.navigation_list_item a {
    color: #fff;
}

.navigation_list_item a:hover {
    color: rgb(163, 163, 236);
    text-decoration: underline;
  }