@import url('./cdn.css');
@import url('./header.css');
@import url('./main.css');
@import url('./social.css');
@import url('./tabs.css');
@import url('./awesome.css');
@import url('./price.css');
@import url('./customers.css');
@import url('./axure.css');
@import url('./contact.css');
@import url('./footer.css');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 3;
}
.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    max-width: 670px;
    font-size: 36px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 34px;
}
.title::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #E72424;
    display: block;
    margin: auto;
    margin-top: 34;
}
.description {
    font-size: 14px;
    font-weight: 400;
    max-width: 670px;
    margin: auto;
    margin-bottom: 68px;
    text-align: center;
}

