.social {
    background: #F8EFEF;
    padding: 20px 0;
}
.social-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
    align-items: center;

}
.social_text {
    margin: 0 15px;
}
.media {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.description_social {
    max-width: 400px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #86878B;
}
.navigation_social_list {
    margin: 0 15px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 44px;
   }
    
.navigation_social_list_item i {
    transition: 2s;
    color: #c2c3c9;

}
.fa-facebook-f_social:hover {
    transform: scale(1.5);
    color: blue;    
}

.fa-twitter_social:hover {
    transform: scale(1.5);
    color: rgb(73, 153, 228);    
}

.fa-google_social:hover {
    transform: scale(1.5);
    color: rgb(241, 115, 98);    
}

.fa-at_social:hover {
    transform: scale(1.5);
    color: rgb(120, 231, 145);    
}

.fa-instagram_social:hover {
    transform: scale(1.5);
    color: rgb(190, 70, 238);    
}

.fa-stumbleupon_social:hover {
    transform: scale(1.5);
    color: rgb(95, 95, 233);    
}

.fa-telegram_social:hover {
    transform: scale(1.5);
    color: rgb(118, 221, 235);    
}